*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;


}

.parent{
    width: 100%;
}

.child-1{
    display: flex;
    width: 100%;
   margin-top: 20px;
   background-color: #f4f4f480;
   padding: 2rem;
   flex-wrap: wrap;
  
}

.child-1-content{
    flex: 0.5;
   padding: 1rem;
}

.child-1-content h1{
  font-size: 3rem;
  color: #262626;
  margin-bottom: 1.5rem;
}
.child-1-content h4{
    font-size: 1.5rem;
    color: #262626;
     margin-bottom: 1rem;
     font-weight: 700;
}
.child-1-content p{
    font-size: 1.2rem;
    color:#6c6969;
    font-weight: 400;
    line-height: 1.85rem;
    
    
}
.child-1-image{
   display: flex;
   justify-content: center;
   align-items: center;
   flex:1;
}

.child-1-image img{
   width: 80%;
}

.child-2{
    width: 100%;
   padding: 2.89rem;
   display:flex;

}

.child-2-image{
    flex:0.8;
    display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}
.child-2-content h1{
  font-size: 3rem;
  color: #262626;
  margin-bottom: 2rem;
 
}

.content-all{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text-all{
    display: flex;
    flex-direction: column;
    gap:30px
}
.text-all h4{
    color: #6c6969;
    font-size: 1.4rem;
    font-weight: 200;
}
.text-all h4 span{
    color: #262626;
    font-weight: 600;
}

.relations{
    display: flex;
    gap:4rem;
    padding: 10px;
   

}

.visuals{
     box-shadow: 2px 2px 8px rgb(175, 174, 174);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
   
}

.visuals span{
    font-size: 1.3rem;
    text-align: center;
    font-weight:600;
}


.child-2-image{
   flex: 1;
    display: flex;
   justify-content: center;
   align-items: center;
}
.child-2-image img{
    width: 80%;
}




@media (max-width:900px){
    .child-1{
        flex-direction: column;
        padding:2.5rem;
    }
    .child-1-content h1{
         font-size: 2.5rem;
       text-align: center;
    }
    .child-1-content h4{
        font-size: 1.5rem;
        text-align: center;
    }
    .child-1-content p{
        font-size: 1rem;
        text-align: center;
    }

    .child-2{
        flex-direction: column-reverse;
        padding: 2.5rem;
    }
    
    .child-2-content h1{
        font-size: 2.5rem;
       text-align: center;
    }
    .content-all{
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
       
    }
    .text-all{
        justify-content: center;
        align-items: center;
        gap: 4.5rem;
    }
    .text-all h4{
        font-size: 1.25rem;
    }
    .relations{
        flex-direction: column;
        gap: 2rem;
        padding: 10px;
       
    }
    
    .visuals span{
        font-size: 1rem;
    }
    
}

@media (max-width:426px){
    .child-1,.child-2{
        padding: 1.5rem;
    }
    .child-1-content h1{
        font-size: 1.4rem;
    }
    .child-1-content h4{
        font-size: 1.2rem;
    }
    .child-2-content h1{
        font-size: 1.5rem;
    }
    .content-all{
        gap: 1rem;
    }
    .text-all{
        gap: 2.9rem;
    }
    .text-all h4{
        font-size: 1rem;
    }

    .visuals{
        width: 5.8rem;
        height: 5rem;
    }
    .visuals span{
        font-size: 0.9rem;
    }
}
